<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSelfContained>true</PublishSelfContained>
    <PublishDir>..\build\KuiLunUPDater-GitHub-publish\</PublishDir>
    <DefaultManifestUrl></DefaultManifestUrl>
  </PropertyGroup>
</Project>
